src/main/resources/xsd/address.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="address_id"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:string" name="address2"/>
        <xs:element type="xs:string" name="district"/>
        <xs:element type="xs:string" name="city_id"/>
        <xs:element type="xs:string" name="postal_code"/>
        <xs:element type="xs:string" name="phone"/>
        <xs:element type="xs:string" name="deleteYN"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>