resources/xsd/actor.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="actor">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:long" name="actor_id" />
				<xs:element type="xs:string" name="first_name" />
				<xs:element type="xs:string" name="last_name" />
				<xs:element type="xs:string" name="deleteYN" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>